
SECRET_KEY=your_secret_key_here
FLASK_APP=app.py
FLASK_ENV=development

DATABASE_URL=mysql+pymysql://username:password@host:port/database_name?ssl_ca=path/to/isrgrootx1.pem

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

RESEND_API_KEY=re_your_resend_api_key
RESEND_FROM_EMAIL=onboarding@resend.dev
RESEND_TO_EMAIL=your_personal_email@domain.com
